@model TicketManagementSystem.Models.Ticket

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ticket-view {
        background: linear-gradient(to bottom right,#ffdab9,#ffffff,#f5f5f5);
        border-radius: 8px;
        padding: 5px;
        margin: 5px 0;
    }

    .ticket-actions a {
        margin-right: 5px;
        color: #007bff;
    }

        .ticket-actions a:hover {
            text-decoration: none;
            color: #0056b3;
        }

    .ticket-header {
        margin-bottom: 1rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid #e9ecef;
    }

    
   
</style>

<h1>Details</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="ticket-view">
                <h4 class="ticket-headerTicket"></h4>
                <hr />
                <dl class="row ticket-dl-horizontal">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Subject)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Subject)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DateCreated)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DateUpdated)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DateUpdated)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Priority)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Priority)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Category.CategoryName)
                    </dd>
                    <dt dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.User)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.User.UserName)
                    </dd>
                </dl>
            </div>
            <div>
                @if (User.IsInRole("Member"))
                {
                    <a class="btn btn-primary mb-3"  asp-action="Edit" asp-route-id="@Model?.TicketID">Edit</a>
                }
                @if (User.IsInRole("Technician"))
                {
                    <a class="btn btn-primary mb-3" asp-action="UpdateStatus" asp-route-id="@Model?.TicketID">Update Status</a>
                }
                <a class="btn btn-info mb-3" asp-action="Index">Back to List</a>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
