@model IEnumerable<TicketManagementSystem.Models.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>


    body {
        font-family: Arial, sans-serif;
        background: linear-gradient(to bottom right,#ffdab9,#ffffff,#f5f5f5);
        margin: 0;
        padding: 20px;
        color: #333;
    }
</style>

@if (User.IsInRole("Member"))
{
    <h1>My Tickets</h1>
    <p>
        <a class="btn btn-primary mb-3" asp-action="Create">Create New</a>
    </p>
}
@if (User.IsInRole("Technician") | User.IsInRole("Admin"))
{
    <h2>Available Tickets</h2>

}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                Assigned?
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.TechnicianId))
                        {
                            <text>Assigned</text>
                        }
                        else
                        {
                            <text>Not Assigned</text>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>

                    <td>
                        @if (User.IsInRole("Member"))
                        {
                            <a class="btn btn-primary mb-3" asp-action="Edit" asp-route-id="@item.TicketID">Edit</a>
                        }
                        <a class="btn btn-info mb-3" asp-action="Details" asp-route-id="@item.TicketID">Details</a>
                        @if (User.IsInRole("Technician") && item.TechnicianId == null)
                        {
                            <a class="btn btn-info mb-3" asp-action="TakeIt" asp-route-id="@item.TicketID">Take it </a>
                        }
                        @if (User.IsInRole("Member"))
                        {
                            <a class="btn btn-danger mb-3" asp-action="Delete" asp-route-id="@item.TicketID">Delete</a>
                        }

                </td>

            </tr>}
        }
    </tbody>
</table>
