@model IEnumerable<TicketManagementSystem.Models.KnowledgeBaseArticle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Knowledge Base Articles</h1>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
@if (User.IsInRole("Admin") | User.IsInRole("Technician"))
{
    <p>
        <a class="btn btn-primary mb-3" asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>

                <td>
                    @if (User.IsInRole("Admin") | User.IsInRole("Technician"))
                    {
                        <a class="btn btn-primary mb-3" asp-action="Edit" asp-route-id="@item.ArticleID">Edit</a>
                        <a class="btn btn-info mb-3" asp-action="Details" asp-route-id="@item.ArticleID">Details</a>
                    }@if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-danger mb-3" asp-action="Delete" asp-route-id="@item.ArticleID">Delete</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
